.masonry-grid {
  display: flex;
  margin-left: -1rem;
  width: auto;
}

.masonry-grid-column {
  padding-left: 1rem;
  background-clip: padding-box;
}

.masonry-grid-column > div {
  margin-bottom: 1rem;
}
